.title {
  color: red;
}

.menu__item {
  color: #27aedb;
  text-align: center;
  margin: auto;
  font-size: 16px;
  cursor: pointer;
  transition: 250ms;
  width: 150px;

  &:hover {
    background: #282c34;
    color: white;
  }
}

header {
  background: azure;
  display: flex;
}

.App {
  text-align: center;
  min-height: 500px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #b2bedb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  width: 300px;
  height: 100px;
  background: azure;
  border: solid 1px black;
  margin-bottom: 2px;
  margin-top: 2px;

  &-text {
    color: black;
    margin: 5px;
  }
}

.new-card {
  width: 600px;
  border: solid 1px black;
}

.login__content {
  position: relative;

  &-popup {
    position: absolute;
    width: 180px;
    height: 120px;
    background: #007bff;
    z-index: 100;
    left: 104px;
    bottom: -65px;
    color: white;
    font-size: 20px;
  }
}

.main__content {
  width: 80%;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;

  &-card {
    width: 350px;
    height: 250px;
    background: white;
    transition: 250ms;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &:hover {
      box-shadow: 0 1px 4px 3px grey;
    }
  }
}

.card__img {
  background-size: cover;
  left: 0;
  width: 100%;
}

.card__wrap {
  background: rgba(166, 166, 166, 0.48);
  position: absolute;

  &:hover {
    background: rgba(123, 123, 123, 0.48);
  }
}

.article__card {
  width: 1200px;
  min-height: 480px;
  border: solid 1px white;

  &-img {
    width: 400px;
  }

  &-txt {
    font-size: 18px;
  }

  &-comments {
    width: 100%;
  }
}
